{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{block.super}} - {{tag.name|title}}
{% endblock %}

{% block content %}

<h2> {{ tag.name|title }} </h2>
{% if tag.startup_set.all %}
<section>

<h3>Startup{{ tag.startup_set.count|pluralize }}</h3>
<p>This Tag is associated with
  {{tag.startup_set.count}}
  Startup{{ tag.startup_set.count|pluralize }}
</p>

<ul>
{% for startup in tag.startup_set.all %}
<li><a href="#">
  {{ startup.name }}
</a></li>

{% endfor %}
</ul>
</section>
{% else %}
<p>Sorry! this Tag is Not associated with any startup!!</p>
{% endif %}

{% if tag.blog_posts.all %}
<section>
  <h3>Blog Post{{ tag.blog_posts.count|pluralize}}</h3>
  <ul>
      {% for post in tag.blog_posts.all %}
      <li>
        <a href="#">
          {{ post.title|title }}
        </a>
      </li>
      {% endfor %}
  </ul>
</section>
{% endif %}
{% if not tag.startup_set.all and no tag.blog_posts.all %}
<p>Sorry this Tag is not associated with any content </p>

{% endif %}
{% endblock %}
