{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Tag list
{% endblock %}

{% block content %}
<h2>Tag List </h2>
<div>
  <a href="{% url 'organizer:organizer_tag_create' %}"> Create a Tag</a>
</div>
<ul>
  {% for tag in tag_list %}
  <li>
    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
  </li>
  <ul>
  <li>
    <a href="{{ tag.get_update_url }}">Edit Tag</a>
  </li>
  <li>
    <a href="{{ tag.get_delete_url }}">Delete Tag</a>
  </li>
  </ul>
    {% empty %}
    <li>
      <em>There are No TAG Yet!!</em>
    </li>
  {% endfor %}
</ul>
{% endblock %}
